{% extends 'dashboard/main.html' %}
{% load static %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container-full">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="d-flex align-items-center">
                <div class="me-auto">
                    <h4 class="page-title">Form Wizard</h4>
                    <div class="d-inline-block align-items-center">
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a>
                                </li>
                                <li class="breadcrumb-item" aria-current="page">Forms</li>
                                <li class="breadcrumb-item active" aria-current="page">Form Wizard</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
        </div>


        <!-- Main content -->
        <section class="content">

            <div class="row">

                <!--Background color!-->


                <div class="col-md-4 col-12">
                    <div class="box box-inverse box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title"><strong>Primary</strong></h4>
                            
                        </div>

                        <div class="box-body">
                            <p>Which is the same as saying through shrinking from toil and pain.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="box box-inverse box-secondary">
                        <div class="box-header with-border">
                            <h4 class="box-title"><strong>Secondary</strong></h4>
                            
                        </div>

                        <div class="box-body">
                            Which is the same as saying through shrinking from toil and pain.
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="box box-inverse box-success">
                        <div class="box-header">
                            <h4 class="box-title"><strong>Success</strong></h4>
                            
                        </div>

                        <div class="box-body">
                            Which is the same as saying through shrinking from toil and pain.
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="box box-inverse box-info">
                        <div class="box-header">
                            <h4 class="box-title"><strong>Info</strong></h4>
                           
                        </div>

                        <div class="box-body">
                            Which is the same as saying through shrinking from toil and pain.
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="box box-inverse box-warning">
                        <div class="box-header">
                            <h4 class="box-title"><strong>Warning</strong></h4>
                            
                        </div>

                        <div class="box-body">
                            Which is the same as saying through shrinking from toil and pain.
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="box box-inverse box-danger">
                        <div class="box-header">
                            <h4 class="box-title"><strong>Danger</strong></h4>
                            
                        </div>

                        <div class="box-body">
                            Which is the same as saying through shrinking from toil and pain.
                        </div>
                    </div>
                </div>
                <!--Background color!-->


                <div class="col-md-4 col-12">
                    <div class="box box-inverse box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title"><strong>Primary</strong></h4>
                            
                        </div>

                        <div class="box-body">
                            <p>Which is the same as saying through shrinking from toil and pain.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="box box-inverse box-secondary">
                        <div class="box-header with-border">
                            <h4 class="box-title"><strong>Secondary</strong></h4>
                            
                        </div>

                        <div class="box-body">
                            Which is the same as saying through shrinking from toil and pain.
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="box box-inverse box-success">
                        <div class="box-header">
                            <h4 class="box-title"><strong>Success</strong></h4>
                            
                        </div>

                        <div class="box-body">
                            Which is the same as saying through shrinking from toil and pain.
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="box box-inverse box-info">
                        <div class="box-header">
                            <h4 class="box-title"><strong>Info</strong></h4>
                           
                        </div>

                        <div class="box-body">
                            Which is the same as saying through shrinking from toil and pain.
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="box box-inverse box-warning">
                        <div class="box-header">
                            <h4 class="box-title"><strong>Warning</strong></h4>
                            
                        </div>

                        <div class="box-body">
                            Which is the same as saying through shrinking from toil and pain.
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="box box-inverse box-danger">
                        <div class="box-header">
                            <h4 class="box-title"><strong>Danger</strong></h4>
                            
                        </div>

                        <div class="box-body">
                            Which is the same as saying through shrinking from toil and pain.
                        </div>
                    </div>
                </div>

            </div>


        </section>
        <!-- /.content -->

    </div>
</div>
<!-- /.content-wrapper -->

{% endblock %}